/* =======================================
    main.css
    use this file for your custom styles
========================================== */

/* set the default color, font-size, and line height */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

body{
    background-color: rgb(224, 243, 138);
}

h1{
    text-align: center;
}

