$font-title: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$text-align: center;
$font-italic: italic;

$font-size-01: 25px;
$font-size-02: 20px;
$font-size-03: 15px;

$radius: 5px;
$padding-mid: 2px;
$padding: 5px;
$padding-double: 10px;

$column-width: 100px;

$back-color: #181a19;
$gold-color: #efb810;
$main1-color: #c5b327;
$main2-color: #9c8c0f;
$form-color: #c75717;

